body {
  background: #e0e0e0
}
.down{
  display: flex;
  align-items: flex-end;
  height: 100%;
}
.display {
  color: #888988;
  width: 100%;
  font-size: 50px;
  margin: 10px 0;
  padding: 15px 0;
  background: transparent;
  text-align: right;
}
button {
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  padding: 2px 0;
  border: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  height: 50px;
  font-size: 22px;
  background: #f5f5f5;
  color: #000000;
  border-radius: 5px;
  cursor: pointer;
}
